@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  justify-content: center;
  margin: 150px auto;
  flex-wrap: wrap;
  width: 200px;
}

.textField {
  padding-bottom: 20px;
}

.login {
  margin: 10px;
}
